<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CGI VocPrez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cgi.css') }}">
</head>
<body>
  <div id="vocprez">
    made by <a href="http://github.com/rdflib/VocPrez">VocPrez</a>&nbsp;
    <a id="versionlink" href="https://github.com/RDFLib/VocPrez/releases/tag/{{ utils.version() }}">{{ utils.version() }}</a>
  </div>  
  <div id="header" style="grid-column:2; display:grid; grid-template-rows:70px 70px; text-align:center;">
    <div style="grid-row: 1;">
      <img id="IUGS_logo" src="{{ url_for('static', filename = 'IUGS_logo.png') }}" />
      <img id="CGI_logo" src="{{ url_for('static', filename = 'CGI_logo.jpg') }}" />
      <img id="GeoSciML_logo" src="{{ url_for('static', filename = 'GeoSciML_logo.png') }}" />
      <img id="ERML_logo" src="{{ url_for('static', filename = 'ERML_logo.png') }}" />
    </div>
    <div style="grid-row: 2; margin-top:20px;">
        <a href="http://www.cgi-iugs.org">CGI Home</a> |
        <a href="http://www.geosciml.org">GeoSciML</a> |
        <a href="http://external.opengeospatial.org/twiki_public/GeoSciMLswg/WebHome">GeoSciML Wiki</a> |
        <a href="http://www.earthresourceml.org">EarthResourceML</a>   
    </div>
  </div>
  <div id="strip" style="grid-column:1/4; background-color:rgb(240, 231, 138);"></div>
  <div id="mainmenu" style="grid-column:2;">
    {% include 'nav.html' %}
  </div>   
  <div id="content" style="grid-column:2; display: grid; margin-bottom: 20px;">
    {% block content %}{% endblock %}
  </div><!-- #content -->
  <div style="grid-column:1; background-color:rgb(151,119,26);"></div>
  <div id="footer" style="grid-column:2;">
      CGI &copy; 2020. This site is hosted by <a href="http://www.ga.gov.au/">Geoscience Australia</a> but responsibility and copyright for the site content lies with the <a href="http://www.cgi-iugs.org/">IUGS CGI</a>. Questions, suggestions or comments regarding the contents of this site should be directed to the <a href="mailto:CGIsecretariat@mail.cgs.gov.cn">CGI secretariat</a>.
  </div><!-- #footer -->
  <div style="grid-column:3; background-color:rgb(151,119,26);"></div>
</body>
</html>
