{% extends "page.html" %}

{% block breadcrumbs %}
    <p class="breadcrumbs"><a href="{{ url_for('index') }}">System Home</a> / <a href="{{ url_for('vocabularies') }}">Vocabularies</a></p>
{% endblock %}

{% block content %}
<div style="grid-column: 1; grid-row: 1;">
    <h1>{{ label }}</h1>
</div>
<div style="grid-column: 1; grid-row: 2;">
    <p>
        This is the static register (index) of CGI’s vocabularies whose purpose is to present the persistent URIs to each of the vocabularies.
    </p>
    <p>
        For machine-readable versions of this vocabulary list, see the <a href="{{ utils.get_alt_prof_uri(uri) }}">Alternate Profiles</a> page.
    </p>
</div>
<div style="grid-column: 1; grid-row: 3;">
    <h3>GeoSciML Vocabularies</h3>
    <table class="vocab-table">
        <thead>
            <tr>
                <th>Collection of terms</th>
                <th>Concept Schemes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/alterationtype') }}">Alteration Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/alterationtype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/boreholedrillingmethod') }}">Borehole Drilling Method</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/boreholedrillingmethod') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/compositioncategory') }}">Composition Category</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/compositioncategory') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/compoundmaterialconstituentpartrole') }}">Compound Material Constituent Part</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/compoundmaterialconstituentpartrole') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/consolidationdegree') }}">Consolidation Degree</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/consolidationdegree') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/contacttype') }}">Contact Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/contacttype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/conventioncode') }}">Convention Code for Strike and Dip Measurements</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/conventioncode') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/deformationstyle') }}">Deformation Style</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/deformationstyle') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/descriptionpurpose') }}">Description Purpose</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/descriptionpurpose') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/eventenvironment') }}">Event Environment</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/eventenvironment') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/eventprocess') }}">Event Process</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/eventprocess') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/faultmovementsense') }}">Fault Movement Sense</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/faultmovementsense') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/faultmovementtype') }}">Fault Movement Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/faultmovementtype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/faulttype') }}">Fault Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/faulttype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/foliationtype') }}">Foliation Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/foliationtype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/geneticcategory') }}">Genetic Category</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/geneticcategory') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/geologicunitmorphology') }}">Geologic Unit Morphology</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/geologicunitmorphology') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/geologicunitpartrole') }}">Geologic Unit Part Role</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/geologicunitpartrole') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/geologicunittype') }}">Geologic Unit Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/geologicunittype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/lineationtype') }}">Lineation Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/lineationtype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mappingframe') }}">Mapping Frame</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2017.01/mappingframe') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/metamorphicfacies') }}">Metamorphic Facies</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/metamorphicfacies') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/metamorphicgrade') }}">Metamorphic Grade</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/metamorphicgrade') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/featureobservationmethod') }}">Observation Method (Geologic Feature)</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/featureobservationmethod') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mappedfeatureobservationmethod') }}">Observation Method (Mapped Feature)</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/mappedfeatureobservationmethod') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/determinationmethodorientation') }}">Orientation Determination Method</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/determinationmethodorientation') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/particleaspectratio') }}">Particle Aspect Ratio</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/particleaspectratio') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/particleshape') }}">Particle Shape</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/particleshape') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/particletype') }}">Particle Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/particletype') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/planarpolaritycode') }}">Planar Polarity Code</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2017.01/planarpolaritycode') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/proportionterm') }}">Proportion Term</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/proportionterm') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/lithology') }}">Simple Lithology</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierScheme/cgi/2016.01/simplelithology') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/stratigraphicrank') }}">Stratigraphic Rank</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/stratigraphicrank') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/valuequalifier') }}">Value Qualifier</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/valuequalifier') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/vocabularyrelation') }}">Vocabulary Relation</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/vocabularyrelation') }}">v2016.01</a></td>
            </tr>
        </tbody>
    </table>
    <h3>EarthResourceML Vocabularies</h3>
    <table class="vocab-table">
        <thead>
            <tr>
                <th>Collection of terms</th>
                <th>Concept Schemes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/commodity-code') }}">Commodity Code</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/commodity-code') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/earth-resource-expression') }}">Earth Resource Expression</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/earth-resource-expression') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/earth-resource-form') }}">Earth Resource Form</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.02/earth-resource-form') }}">v2016.02</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/earth-resource-material-role') }}">Earth Resource Material Role</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/earth-resource-material-role') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/earth-resource-shape') }}">Earth Resource Shape</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/earth-resource-shape') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/end-use-potential') }}">End Use Potential</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/end-use-potential') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/environmental-impact') }}">Environmental Impact</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/environmental-impact') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/exploration-activity-type') }}">Exploration Activity Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/exploration-activity-type') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/exploration-result') }}">Exploration Result</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/exploration-result') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mine-status') }}">Mine Status</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/mine-status') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mineral-occurrence-type') }}">Mineral Occurrence Type</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/mineral-occurrence-type') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/classification-method-used') }}">Mineral Resource Reporting Classification Method</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/classification-method-used') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mining-activity') }}">Mining Activity</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/mining-activity') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/mining-processing-activity') }}">Processing Activity</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/mining-processing-activity') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/raw-material-role') }}">Raw Material Role</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/raw-material-role') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/reserve-assessment-category') }}">Reserve Assessment Category</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/reserve-assessment-category') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/resource-assessment-category') }}">Resource Assessment Category</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/resource-assessment-category') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/unfc') }}">UNFC Code</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2019.01/unfc') }}">v2016.01</a></td>
            </tr>
            <tr>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifier/cgi/waste-storage') }}">Waste Storage</a></td>
                <td><a href="{{ utils.get_content_uri('http://resource.geosciml.org/classifierscheme/cgi/2016.01/waste-storage') }}">v2016.01</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}